@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
:root{
    --base: white;
    --base2: #eee;
    --text: #111;
    --text2: #444;
    --a: lightseagreen;
    --b: lightslategray;
    --c: lightpink;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--text);
    background: var(--base);
    font-family: 'Poppins';
    font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 70px;
    box-shadow: 0px 1px 1px var(--base2);
    border-bottom: 1px solid var(--base2);
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
nav ul a{
    padding: 10px;
    border-radius: 20px;
}
nav ul a:hover{
    background-color: var(--a);    
}
nav ul input{
    padding: 20px;
    border-radius: 20px;
    height: 40px;
    border: 1px solid var(--b);    
}
nav #mobile-menu{
    display: none;
}
nav h1{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: lighter;
}
@media (max-width: 830px) {
    nav ul{
        display: none;
    }
    nav #mobile-menu{
        display: block;
    }
}